<div class="fragment" id="research">
    <h1 class="blue-text-hard" i18n>
        VIDEO MAPPING
    </h1>
    <h3 class="blue-text-hard" i18n>(Light pollution)</h3>
    <div class="content">
        <div class="desc">
            <h1 id="section-title"></h1>
            <div id="section-description">
            </div>
        </div>
        <div class="pres">
            <div class="lig">
                <div class="data-img" id="img4" (click)="lockData('#img4')" (mouseenter)="selectData('#img4')"><img
                        src="assets/images/research/human_1_thumb.jpg" alt="">
                    <div class="img-name-container"> <p class="img-name" i18n>Séquence du vidéo mapping
                        Screen City New York:
                        scénarios de croissance
                        démographique
                    </p></div>
                    <div class="img-desc"></div>
                </div>
                <div class="data-img" id="img5" (click)="lockData('#img5')" (mouseenter)="selectData('#img5')"><img
                        src="assets/images/research/human_2_thumb.jpg" alt="">
                    <div class="img-name-container"> <p class="img-name" i18n>Programmation informatique
                        de Screen City New York
                    </p></div>
                    <div class="img-desc"></div>
                </div>
                <div class="data-img" id="img6" (click)="lockData('#img6')" (mouseenter)="selectData('#img6')"><img
                        src="assets/images/research/map_2_thumb.jpg" alt="">
                    <div class="img-name-container"> <p class="img-name" i18n>Screen Shot carte du
                        recensement New York 2019
                        Screen City_Ny
                    </p></div>
                    <div class="img-desc"></div>
                </div>
                <div class="data-img" id="img9" (click)="lockData('#img9')" (mouseenter)="selectData('#img9')"><img
                        src="assets/images/research/map_1_thumb.jpg" alt="">
                    <div class="img-name-container"> <p class="img-name" i18n>Screen Shot carte du
                        recensement New York 2019
                        Screen City_Ny
                    </p></div>
                    <div class="img-desc"></div>
                </div>
                <div class="data-img" id="img10" (click)="lockData('#img10')" (mouseenter)="selectData('#img10')"><img
                        src="assets/images/research/bleu_1_thumb.jpg" alt="">
                    <div class="img-name-container"> <p class="img-name" i18n>Screen Shot carte du
                        recensement New York 2019
                        Screen City_Ny
                    </p></div>
                    <div class="img-desc"></div>
                </div>
                <div class="data-img" id="img11" (click)="lockData('#img11')" (mouseenter)="selectData('#img11')"><img
                        src="assets/images/research/bleu_2_thumb.jpg" alt="">
                    <div class="img-name-container"> <p class="img-name" i18n>Screen Shot carte du
                        recensement New York 2019
                        Screen City_Ny
                    </p></div>
                    <div class="img-desc"></div>
                </div>
            </div>
            <div class="row">
                <div class="col ">
                    <div class="data-img" id="img1" (click)="lockData('#img1')" (mouseenter)="selectData('#img1')"><img
                            class="inverted" src="assets/images/research/light_1_thumb.jpg" alt="">
                        <div class="img-name-container"> <p class="img-name" i18n>Screen City_Ny (vue sur l’installation)</p></div>
                        <div class="img-desc"></div>
                    </div>
                    <div class="data-img" id="img2" (click)="lockData('#img2')" (mouseenter)="selectData('#img2')"><img
                            class="inverted" src="assets/images/research/light_2_thumb.jpg" alt="">
                        <div class="img-name-container"> <p class="img-name" i18n>Screen City_Ny (focus)</p></div>
                        <div class="img-desc"></div>
                    </div>
                    <div class="data-img" id="img3" (click)="lockData('#img3')" (mouseenter)="selectData('#img3')"><img
                            class="inverted" src="assets/images/research/light_3_thumb.jpg" alt="">
                        <div class="img-name-container"> <p class="img-name" i18n>Screen Shot Nasa
                            (Pollution lumineuse New York)
                        </p></div>
                        <div class="img-desc"></div>
                    </div>
                </div>
                <div class="col-large ">
                    <div #p5canvas class="p5Canvas" id="p5canvas-research"></div>
                </div>
                <div class="col">
                    <div class="data-img" id="img7" (click)="lockData('#img7')" (mouseenter)="selectData('#img7')"><img
                            src="assets/images/research/model_1_thumb.jpg" alt="">
                        <div class="img-name-container"> <p class="img-name" i18n>Zoom pollution lumineuse
                            New York (inspiration pour conception vidéo)
                        </p></div>
                        <div class="img-desc"></div>
                    </div>
                    <div class="data-img" id="img8" (click)="lockData('#img8')" (mouseenter)="selectData('#img8')"><img
                            src="assets/images/research/graph_thumb.jpg" alt="">
                        <div class="img-name-container"> <p class="img-name" i18n>Encéphalogramme d’une crise
                            cardiaque: Inspiration pour
                            rythme d’apparition des données
                        </p></div>
                        <div class="img-desc"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

