
<div  class="fragment" id="projects" >

    <div class="content">
        <div class="description">
            <h1 class="blue-text-hard" i18n>
                Screen City_NY
            </h1>
            <h2  class="blue-text-hard" i18n>SCREEN CITY, FIGURE D’UNE VILLE AU BORD DE L’EFFONDREMENT</h2>
            <div class="show-mobile">
                <div class="video-container-container video-container">
                    <video   muted autoplay loop  poster='assets/video/sc_ny_small_thumbnail.jpeg' >
                        <source type="video/mp4" src="assets/video/sc_ny_small.mp4">
                    <source type="video/mp4" src="http://www.alessiasanna.fr/stream/stream.php?v=sc_ny_small.mp4"></video>
                </div>
            </div>
            <div>
                <p class="blue-text-hard" ><i i18n>Au temps de l’homme comme source de variations multiples et complexes, Screen City_NY propose un regard poétique et critique sur le devenir fragile des villes d’ici 2100. Plaçant l’humain au centre de toutes les attentions, cette œuvre cartographique remonte les traces de nos données géographiques et interroge : quelles formes prendront les modes de vie métropolitaine de demain ?</i></p>
                <p i18n>Proposée autour d’un focus sur la ville de New York, cette œuvre rapporte une vision inquiétante sur l’inévitable croissance des populations urbaines et de leurs répercutions mesurables à long terme. Asséchées par l’Homme, que restera-t-il de nos ressources énergétiques à l’avenir et qu’adviendra-t-il alors de notre civilisation ? À l’image d’un cœur malade, saturé et à bout de souffle, comment la ville survivra-t-elle à ses habitants et comment ses habitants lui survivront-elle ?</p>
                <p i18n>Dans ce scénario où chaque humain représente une dépense énergétique, Screen City_NY se présente ainsi comme une synthèse d’actions humaines faisant de la ville un paysage sensible au destin incertain.</p>
            </div>
        </div>
        <div class="video-container-container hide-mobile">
            <div class="video-container">
                <video   muted autoplay loop  poster='assets/video/sc_ny_small_thumbnail.jpeg' >
                    <source type="video/mp4" src="assets/video/sc_ny_small.mp4">
                <source type="video/mp4" src="http://www.alessiasanna.fr/stream/stream.php?v=sc_ny_small.mp4"></video>
            </div>
        </div>
    </div>
</div>

