@import '../../variables.sass'

.fragment
	overflow-y: hidden
	margin-bottom: 0
	padding-top: 4rem
	display: flex

.content
	display: flex
	flex-wrap: nowrap
	overflow-x: hidden

	h1
		display: flex
		flex-flow: column
		font-size : 3em
		min-width : 50%
		width : max-content
	h1,h2
		margin-bottom: 2rem
		text-align: left


	.description
		display: flex
		flex-direction: column

		min-width: 16%
		//text-align: justify
		font-size : 1em
		padding : 5rem 5% 0 5%

		>div
			display: flex
			flex-direction: column
			width: 100%

			>*
				margin-bottom: 1rem


	.video-container
		background-color: $background-color-alt
		display: flex
		width : auto

		video,img
			width: auto
			height: 100%
