<header>
    <div class="banner"><a  routerLink="./" [fragment]="'home'">[ALESSIA_SANNA // <span>SCREEN CITY]</span></a></div>
    <nav class="navbar new-level"  [@openClose]="scrollDown ? 'closed' : 'open'">
        <a class="menu-item" routerLink="./" [fragment]="'whatis'"><p i18n>Qu'est-ce que Screen City ?</p></a>
        <a class="menu-item" routerLink="./" [fragment]="'technical'"><p i18n>Fiche Technique</p></a>
        <a class="menu-item" (click)="opens[0] = !opens[0]"><p i18n>Projet (ctions°)</p></a>
        <div class="new-level pojections-links " [@openCloseHeight]="opens[0]? 'open' : 'closed'">
            <div>
                <a class="menu-item" routerLink="projects/ny" [fragment]="'projects'" ><p i18n>S.C New York</p></a>
            </div>
        </div>
        <a class="menu-item " routerLink="./" [fragment]="'research'"><p i18n>Mapping</p></a>
        <a class="menu-item" routerLink="./" [fragment]="'bio'"><p i18n>Bio / Contact</p></a>
    </nav>
</header>

<router-outlet></router-outlet>
