<div class="fragment" id="bio">

    <div class="content">
        <div class="description">
            <h1 class="blue-text-hard" i18n>
                Bio / Contact
            </h1>
            <div>
                <img src="assets/images/cvalessia20202.jpg"
                     alt="Picture of Alessia Sanna, creator of Screen City and its variations">
                <div>
                    <p i18n>Alessia Sanna est née le 22 juillet 1995 à Mulhouse. Sa passion pour la sculpture et la
                        peinture
                        se manifestent très tôt et, à 15 ans, elle s’oriente dans une filière littéraire et artistique.
                        Elle
                        se rend ensuite à Strasbourg où, durant 5 ans, elle suit un cursus universitaire afin de devenir
                        artiste chercheuse.</p>
                    <p i18n>Durant cette période, l’artiste développe sa pratique sculpturale, qu’elle hybride au
                        numérique.
                        Elle s’interroge alors sur un rapport au monde façonné par les technologies de l’information et
                        de
                        la communication. Ce questionnement, elle l’aborde également au travers de l’œuvre Screen City,
                        qu’elle approfondit durant 1 an au sein de l’incubateur Fluxus.</p>

                    <address>
                        <a href="mailto:a.sannaprojects@gmail.com">a.sannaprojects@gmail.com</a>
                        <a href="tel:+33674002570">+33 674 002 570</a>
                        <p>67100 STRASBOURG, FRANCE</p>
                    </address>
                </div>
            </div>
        </div>
        <div class="video-container">
            <video  muted autoplay preload  loop  poster='assets/video/bio_thumbnail.jpeg'>
                <source type="video/mp4" src="http://www.alessiasanna.fr/stream/stream.php?v=bio.mp4">
                <source type="video/mp4" src="assets/video/bio.mp4">
            </video>
        </div>
    </div>
</div>
