@import '../../variables.sass'

@include responsive-phone()
	.fragment
		min-height: 100vh
	.content
		padding : 2rem
		width : auto

		h1
			font-size: 1.5em

		.description
			width : 100%
			display: flex
			position : initial
			flex-flow: column
			font-size: 1em

			.text
				//text-align: justify
				width: 100%
				font-size: 0.8em
				line-height: 1.3em
				z-index: 30
				margin-bottom: 2rem
				margin-top: 2rem

			.poem
				text-align: center
				display: block
				width: 100%
				position: static
				left: initial
				top: initial
				margin : auto
				z-index: 30

		video,img
			position: static
			right: 0
			bottom: 0
			width: 100%
			height: auto
			z-index: 25

@include responsive-tablet()
	.content
		.description
			.poem
				margin-left: 25%
				width: 115%

			.text
				width: 115%
				.video-container

					video,img
						top: -2rem
						width: 319%
						left: -149%

@include responsive-zoomed-desktop()
	.content
		.descriptiont
			display: flex
			width: 100%
			height: auto

			.poem
				font-size: 0.8em
				letter-spacing: 0

				p
					display: flex
					flex-direction: column
					margin-bottom: 1em

					>*
						margin-bottom: 0
