<div class="fragment" id="whatis">

    <div class="content">
        <h1>
            <p i18n> La ville est mouvement, </p>
            <p i18n> la ville est lumière </p>
        </h1>
        <div class="video-container show-mobile">
            <video muted autoplay preload  loop poster="assets/video/whatis_thumbnail.jpeg">
                <source type="video/mp4" src="https://www.alessiasanna.fr/stream/stream.php?v=whatis.mp4">
                <source type="video/mp4" src="assets/video/whatis.mp4">
            </video>
        </div>
        <div class="description">
            <div class="text">
                <p class="large" i18n> Screen city_NY est une vidéo-sculpture hybridant représentation sculpturale de la
                    ville et technique
                    de mapping vidéo ; mais il s’agit surtout d’une vision poétique de la ville de demain, où
                    l’interprétation
                    de données territoriales interroge sur le devenir de l’Homme à l’heure de l’anthropocène.
                </p>
                <div class="video-container hide-mobile">
                    <video  muted autoplay preload  loop poster="assets/video/whatis_thumbnail.jpeg">
                        <source type="video/mp4" src="https://www.alessiasanna.fr/stream/stream.php?v=whatis.mp4">
                        <source type="video/mp4" src="assets/video/whatis.mp4">
                    </video>
                </div>
            </div>
            <div ngsRevealSet [ngsRevealSet]="{delay : 200, duration:4000 , reset : true}" [ngsSelector]="'.blue-text'" class="poem">
                <p  class="blue-text">
                    <span i18n>Depuis les abysses rayonne Screen City. </span>
                    <span i18n>Arborant une architecture épurée mais dense, la ville est perceptible depuis ses plus hauts sommets. À la nuit tombée, la vie humaine s’active. De là où nous sommes, il est presque possible d’apercevoir chaque être qui anime la ville. Les âmes scintillent dans « la grande pomme ». À l’unisson, des millions de particules lumineuses dansent en cœur en un seul et même rythme. </span>
                </p>
                <p  class="blue-text" i18n>La ville pulse, la ville bat, la ville vit. </p>
                <p  class="blue-text">
                    <span i18n>Ce soir, Screen City est une ville bleue, une ville mouvement, une ville lumière. Une péninsule merveilleuse et catastrophique à la fois, se faisant le reflet sublime d’une vie urbaine toujours plus vorace. Spectateur impuissant, observateur fasciné, je la vois; elle respire. J’entends son souffle qui s’essouffle. Elle s’étend et se détend. La pollution lumineuse émanant de ce paysage électrique m’interpelle :</span>
                </p>
                <p  class="blue-text" i18n>Plus l’homme détruit, plus il brille. </p>
                <p  class="blue-text">
                    <span i18n>Et devant moi défilent les années sans que jamais ne ternissent les lumières. Jusqu’à cette nuit de l’an 2100. Inquiet, je m’endors, me demandant si demain les humains seront à nouveau au rendez-vous. Continueront-ils de danser comme les étoiles ?</span>
                </p>
                <p  class="blue-text align-right">
                    <i i18n> Pensée d’un satellite face à l’effondrement à venir.</i>
                </p>
            </div>
        </div>
    </div>

</div>
