
<div  class="fragment" id="technical" >
    <div [hidden]="true">
        <h1 id="h1_desc" i18n> DESCRIPTIF</h1>
        <p id="scale" i18n>Dans ce processus de création, une matrice est imprimée en 3D avant d’être moulée en silicone, permettant de couler en plâtre des modules de 1,5 à 7,5 cm de haut. Ces volumes représentent des données de densité de population (NASA) dont la forme et la taille se calquent sur le cas de la ville de New York.</p>
        <p id="tapis" i18n>L’installation se déployant au sol, cette proposition suit donc un montage rigoureux, respectant minutieusement un carroyage chromatique reprenant la répartition du nombre d’habitants sur le territoire (2). Plus de 15000 modules sont ainsi installés in situ, couvrant une surface de 30 m². Répartis de la sorte, ces micro-édifices forment une pluralité d’îlots et de dorsales en corrélation avec le plan de zonage territorial.</p>
        <p id="light" i18n>Traduites en signaux lumineux, les données génèrent ici un mouvement lent, global, hypnotique.</p>
        <p id="vid" i18n>Sur la structure de plâtre se juxtapose un mapping vidéo dont le visuel est directement créé à partir de données territoriales temporelles et géolocalisables.</p>
        <p id="sat" i18n>Inspirée de l’imagerie satellitaire, Screen City_NY transforme la data en pollution lumineuse, activant ainsi la ville immergée dans l’obscurité.</p>
        <p id="main" i18n>Entre procédés de moulage traditionnels et technique de vidéo-mapping, Screen City est une data-sculpture mettant en lumière les évolutions démographiques dans la ville de New York.</p>
        <video  id="vid_desc" muted autoplay preload  loop  poster='assets/video/desc_thumbnail.jpeg'>
            <source type="video/mp4" src="http://www.alessiasanna.fr/stream/stream.php?v=desc.mp4">
            <source type="video/mp4" src="assets/video/desc.mp4">
        </video>
    </div>
    <div #p5canvas class="p5Canvas" id="p5canvas-technical"></div>
</div>
